* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0.9);
    color: #cdd6f4;
}

/* Base style for all modules */
#clock,
#custom-month,
#custom-day,
#custom-year,
#custom-week,
#workspaces,
#tray,
#network,
#pulseaudio,
#bluetooth,
#temperature {
    background: #1e1e2e;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Top section - Clock */
#clock {
    margin-top: 8px;
    margin-bottom: 12px;
    min-width: 32px;
    background: #1e1e2e;
    border-radius: 8px;
}

/* Date group styling */
#custom-month {
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
    background: #313244;
}

#custom-day {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    background: #313244;
}

#custom-year {
    margin-top: 0;
    border-radius: 0 0 8px 8px;
    background: #313244;
    margin-bottom: 12px;
}

/* Week number */
#custom-week {
    margin-bottom: 12px;
}

/* Center section */
#tray {
    margin: 4px;
    padding: 4px;
}

#workspaces button {
    padding: 0;
    color: #6c7086;
    min-width: 32px;
    min-height: 32px;
}

#workspaces button.active {
    color: #cba6f7;
    font-weight: bold;
}

#workspaces button:hover {
    background: #11111b;
    border-radius: 8px;
}

/* Bottom section */
#network,
#pulseaudio,
#bluetooth,
#temperature {
    margin-bottom: 8px;
    min-width: 32px;
}

/* Specific module styling */
#network.disconnected {
    color: #f38ba8;
}

#pulseaudio.muted {
    color: #f38ba8;
}

#temperature.critical {
    color: #f38ba8;
}

#bluetooth.disabled {
    color: #6c7086;
}
